<%- include ('partials/header') %>

<div>
    <h1>404 not found!</h1>
    <p>There has been an error. Please see the console.log to debug the error.</p>
</div>

<%- include ('partials/footer') %>