<%- include ('partials/header') %>

<div>
    <p>The Tesla App is an example of GET and POST requests to pull information from your Tesla.</p>
    <p>This process is done by using your email and password from your Tesla account to login and pull the information directly from your car using the unofficial Tesla app.</p>
</div>

<%- include ('partials/footer') %>