<%- include ('partials/header') %>

<div>
    <center><img src="img/logo.png" /></center>
    <p>Welcome to the Soon Departed home page. This is a website dedicated to web app projects created by Soon Departed. Use the nav menu to navigate the different web apps that are in development.</p>
    <p>Feel free to contact us if you like anything you see.</p>
</div>

<%- include ('partials/footer') %>